#scrollUp {
	background: #ccc;
	bottom: 10px;
	color: #ffffff;
	font-size: 20px;
	height: 40px;
	right: 10px;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 40px;
	background: #B2B2B2 none repeat scroll 0 0;
}

#scrollUp:hover {
	background: #339933
}

#scrollUp i {
	line-height: 40px;
	font-size: 17px;
}
/*------------Menu----------------*/
.header__menu-list-sub {
	display: none;
}

.header__menu-item:hover .header__menu-list-sub {
	display: block;
	position: absolute;
	background: #fff;
	z-index: 2000;
	padding: 0px;
}

.header__menu-list-sub li {
	background: #fff;
	width: 100%;
	padding: 5px;
	list-style: none;
	border-bottom: 1px solid #f1f1f1;
	width: 165px;
}

.header__menu-list-sub li:hover {
	background: #ff5800;
	list-style: none;
}

.header__menu-list-sub li a {
	color: #000;
	text-decoration: none;
	text-align: center;
}

/*chi tiết sản phẩm*/
.chitiet-baner {
	background: #fff;
	border-radius: 5px;
	height: 40px;
	padding: 10px;
	margin-top: 35px;
}

.chitiet-baner a {
	color: #000;
}

.chitiet-body {
	margin-top: 30px
}

.chitiet-body .chitiet-body-left {
	padding-left: 0px
}

.widget-box {
	background: #fff;
	padding: 20px 15px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.widget-box h3 {
	font-size: 14px;
	color: #1c1c1c;
	text-transform: uppercase;
	line-height: 22px;
}

.content-widget {
	color: #747474;
	font-size: 14px;
	line-height: 20px;
}

.returnpolicy {
	display: inline-block;
	width: 100%;
	padding: 5px 0px 15px 0px;
	font-size: 14px;
	color: #1c1c1c;
	line-height: 22px;
}

.chitiet-body .chitiet-body-left .chitiet-body-left-content {
	background: #fff;
	padding: 10px
}

.chitiet-body-right {
	padding-right: 0px
}

.chitiet-body-right-content {
	background: #fff;
	display: inline-flex;
	width: 100%;
	padding-bottom: 25px;
}

.chitiet-body-right-content img {
	width: 300px;
	padding: 10px;
	padding-top: 97px;
	height: 413px;
}

.chitiet-body-right-content-text {
	margin-left: 50px
}

.trangThaiChiTiet {
	border-radius: 22px;
	background: #ff5800;
	width: 95px;
	/* color: #fff; */
	font-weight: 400;
	padding: 5px;
	text-align: center;
}

.chitiet-body-right-content-text h5 {
	padding-top: 30px;
	word-wrap: break-word;
	margin: 0px 0px 10px 0px;
	font-size: 30px;
	color: #1c1c1c;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
}
.boder-content-text-ct {
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0px 20px 0px;
	margin-bottom: 10px;
}
.boder-content-text {
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0px 20px 0px;
	margin-bottom: 30px;
}

.chitiet-body-right-content-text  ins {
	font-style: normal;
	text-decoration: none;
	font-size: 30px;
	color: #ff5800;
	width: 100%;
}

.chitiet-body-right-content-text  del {
	font-size: 13px;
	font-weight: 400;
	color: #888888;
	display: block;
	margin-left: 10px;
}

.noiDung-right-content {
	width: 400px;
}

.ty-qty {
	display: inline-flex;
	width: 100%;
	padding: 25px 0px 5px 0px;
}

.ty-control-group__label {
	margin-right: 10px;
}

.ty-value-changer__decrease {
	display: inline-block;
	padding: 2px;
	height: 31px;
	background: #ebebeb;
	width: 25px;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-right: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}

input.ty-value-changer__input {
	width: 40px;
	height: 31px !important;
	margin: 0px 0px 0px 0px;
	float: left;
	border: 1px solid #e1e1e1;
	text-align: center;
	min-height: inherit;
}

.ty-value-changer__increase {
	display: inline-block;
	padding: 2px;
	background: #fff;
	width: 25px;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: left;
	height: 31px;
}

.ty-product-block__button-add {
	margin-right: 20px;
	margin-bottom: 10px;
	width: 230px;
	display: inline-block;
	line-height: 45px;
	padding: 0px;
	font-size: 16px;
	font-weight: 400;
	font-family: Montserrat-Regular;
	border-radius: 5px;
	background: #ff5a01;
	float: left;
	border: 1px solid rgba(0, 0, 0, 0);
}
/*-----------------------------------san pham them danh mục-------------------------------------------------------------*/
.product-list-dm {
	display: grid;
	border: 1px solid #eee;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	height: 100%;
	width: 100%;
}

.ty-product-filters__switch {
	font-size: 20px
}

.ty-product-filters__block {
	padding: 10px;
}

.ty-product-filters {
	padding-left: 0px
}

.ty-product-filters li {
	list-style: none;
}

.ty-product-filters .ty-product-filters-sub {
	padding-left: 10px;
	padding-top: 20px;
}

.ty-product-filters__search {
	position: relative;
	padding: 10px 10px 0 3px;
}

.ty-product-filters__search .ty-input-text-medium {
	padding-right: 28px;
	width: 100%;
}

.check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	content: '';
	position: absolute;
	left: 0;
	top: 6px;
	width: 18px;
	height: 18px;
	border: 1px solid #c8c8c8;
	background: #fff;
	border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tacGiaScroll {
	margin-top: 5px;
	background-color: #fff;
	width: 250px;
	height: 500px;
	overflow: hidden;
}

.tacGiaScroll:hover {
	overflow: scroll;
}

/*------------------------------------------------------------------------------------------------*/
/*-----------------------------------------pagination-right--------------------------------------*/
.pagination-right ul li a {
	color: #FF5800;
}

.pagination-right ul li a:hover {
	color: #fff;
	background: #ff5a00;
}

.product-seemore {
	margin-right: -15px;
	background: #fff;
	margin-left: -15px;
	padding-bottom: 1px;
}

.product-seemore p {
	text-align: center;
}

.product-seemore p a {
	background: #ff5800;
	padding: 10px 35px;
	color: #fff;
	font-size: 14px;
	border-radius: 30px;
	display: inline-block;
}
/*--------------------------------------End -pagination-right--------------------------------------*/
/*-------------------------------ERROR-------------------------------------*/
.ty-exception {
	position: relative;
	margin: 50px 0px 30px 0px;
	padding: 40px 0px 70px 0px;
}

.ty-exception__code {
	top: 92px;
	left: 63px;
	display: inline-block;
	width: 300px;
	color: #e74c3c;
	text-align: center;
	font-weight: bold;
	font-size: 86px;
	line-height: 70px;
}

.ty-exception__code-txt {
	display: block;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	font-size: 26px;
}

.ty-exception__title-info {
	display: inline-block;
	padding-left: 30px;
}

.ty-exception__title {
	padding: 0px 0px 25px 0px;
	font-size: 25px;
	font-weight: normal;
	color: #34495e;
}

.ty-exception__info {
	padding: 0px 0px 30px 0px;
	color: #bdc3c7;
	font-size: 110%;
}

.ty-exception__links {
	margin: 0px 20px 0px 0px;
}

.ty-exception__links-item {
	float: left;
	list-style-type: none;
	margin-right: 20px;
}

.ty-exception__links-a {
	text-decoration: underline;
	cursor: pointer;
}
/*-------------------------------End ERROR-------------------------------------*/
/*---------------------Information-----------------*/
.information {
	margin-top: 30px;
}

.information-left {
	padding: 10px;
	padding-top: 18px;
	border-radius: 10px;
	background: #fff;
}

.information-left h4 {
	font-size: 13px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
}

.information-left .menu-information {
	padding-left: 0px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #ff5800;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff !important;
	background-color: #ff5800 !important;
	border-color: #ff5800 !important;
	width: 170px;
}

.information-left .menu-information li:hover {
	width: 200px;
}

.information-left .menu-information li:hover {
	background: #ff5800;
}

.information-left .menu-information li a {
	font-size: 12px;
	color: #000;
}

.information-left .menu-information li a:hover {
	color: #fff;
}

.information-right {
	width: 80%;
}

.information-right .information-right-content hr {
	margin-bottom: 6px;
}

.information-right .information-right-content-title {
	width: 100%;
	display: inline-flex;
}

.information-right .information-right-content-title h4 {
	width: 100%;
	font-size: 14px;
}

.information-right .information-right-content-title i {
	color: #ff5800;
	text-align: right;
	width: 100%;
}

.information-right .information-right-content {
	padding: 18px;
	background: #fff;
	margin-left: 36px;
}

.information-content-text {
	border: 0.5px dotted #808080;
}

.information-right-content-sub p {
	margin-bottom: 3px;
	padding-left: 5px;
}

.information-right-content-sub-line {
	display: inline-flex;
	padding-left: 100px;
	padding-top: 5px;
}

.information-right-content-sub-line label {
	font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

.table_lichSu th {
	font-size: 12px;
}

.lichSuMuaHang_content label {
	font-weight: 500;
}

/*---------------------End Information-----------------*/

/*--------------------------------Menu search------------------------*/
.menu-search {
	margin-bottom: 0px;
	padding-left: 0px;
}

.menu-search li {
	padding: 8px;
	padding-left: 12px;
	list-style: none;
	width: 100%;
}

.menu-search li:hover {
	background: #ff5800;
}

.menu-search li a {
	text-decoration: none;
	color: #000;
}

.resutlSearch {
	position: absolute;
	border-radius: 25px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	width: 100%;
	transition: 0.3s;
	overflow: hidden;
	z-index: 2000; / /* *  */
	border: 1px solid #ccc; */
	border-color: rgba(0, 0, 0, .15);
}

.resutlSearch label {
	margin-bottom: 0px;
	cursor: pointer;
	background: #f1f1f1;
	color: #ff5800;
	width: 100%;
	text-align: center;
	height: 30px;
}

/*-------------------------------End Menu search------------------------*/
.tr_tableThongKe th { /* th trong ban thống kê */
	text-align: center;
}
.cart-confirm-item {
	padding: 10px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-cofirm-container .cart-confirm-item:last-child {
	border-bottom: none;
}

.cart-confirm-img {
	margin-right: 7px;
}

.cart-confirm-img img {
	width: 100%;
	height: 50px;
	-o-object-fit: cover;
	object-fit: cover;
}

.cart-confirm-img, .cart-confirm-quantity {
	width: 20%;
}

.cart-confirm-title, .cart-confirm-price {
	width: 30%;
}

.information {
	margin-top: 30px;
}

.information-left {
	padding: 10px;
	padding-top: 18px;
	border-radius: 10px;
	background: #fff;
}

.information-left h4 {
	font-size: 13px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
}

.information-left .menu-information {
	padding-left: 0px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #ff5800;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff !important;
	background-color: #ff5800 !important;
	border-color: #ff5800 !important;
	width: 170px;
}

.information-left .menu-information li:hover {
	width: 200px;
}

.information-left .menu-information li:hover {
	background: #ff5800;
}

.information-left .menu-information li a {
	font-size: 12px;
	color: #000;
}

.information-left .menu-information li a:hover {
	color: #fff;
}

.information-right {
	width: 80%;
}

.information-right .information-right-content hr {
	margin-bottom: 6px;
}

.information-right .information-right-content-title {
	width: 100%;
	display: inline-flex;
}

.information-right .information-right-content-title h4 {
	width: 100%;
	font-size: 14px;
}

.information-right .information-right-content-title i {
	color: #ff5800;
	text-align: right;
	width: 100%;
}

.information-right .information-right-content {
	padding: 18px;
	background: #fff;
	margin-left: 36px;
}

.information-content-text {
	border: 0.5px dotted #808080;
}

.information-right-content-sub p {
	margin-bottom: 3px;
	padding-left: 5px;
}

.information-right-content-sub-line {
	display: inline-flex;
	padding-left: 100px;
	padding-top: 5px;
}

.information-right-content-sub-line label {
	font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

.table_lichSu th {
	font-size: 12px;
}

.lichSuMuaHang_content label {
	font-weight: 500;
}

/*---------------------End Information-----------------*/

/*--------------------------------Menu search------------------------*/
.menu-search {
	margin-bottom: 0px;
	padding-left: 0px;
}

.menu-search li {
	padding: 8px;
	padding-left: 12px;
	list-style: none;
	width: 100%;
}

.menu-search li:hover {
	background: #ff5800;
}

.menu-search li a {
	text-decoration: none;
	color: #000;
}

.resutlSearch {
	position: absolute;
	border-radius: 25px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	width: 100%;
	transition: 0.3s;
	overflow: hidden;
	z-index: 2000;
	border-color: rgba(0, 0, 0, .15);
}

.resutlSearch label {
	margin-bottom: 0px;
	cursor: pointer;
	background: #f1f1f1;
	color: #ff5800;
	width: 100%;
	text-align: center;
	height: 30px;
}

/*-------------------------------End Menu search------------------------*/
 	* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #ccc
}
.comment__container {
	display: block;
	max-width: 878px;
	background-color: #fff;
	margin: 0 auto;
	padding: 15px;
	border-radius: 4px
}
.form-comment__required {
	color: red
}
.form__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-comment__group {
}
.form-comment__group-label {
	min-width: 150px;
	font-size: 15px;
	color: #747474;
	font-weight: 600;
}
.form-comment__group-inp, .comment__textarea {
	outline: none;
	padding: 4px 8px;
	border: 1px solid #ebebeb;
	min-height: 40px;
	background: #fff;
	max-width: 100%;
	width: 400px;
	border-radius: 4px;
	text-align: left;
}
.form-comment__group-inp:focus , .comment__textarea:focus {
	border-color: #000;
}
.comment__rating-label {
	color: #dedfe0;
	cursor: pointer;
	position: relative;
}
.comment__rating-input {
	display: none;
}

.comment__rating-label::before {
	font-family: "FontAwesome";

	/*font-family: "Font Awesome 4.7.0 Free";*/
	font-size: 20px;
	line-height: 1;
	content: "\f005";
	display: block;

}

.comment__rating-label::after {

	/*font-family: "Font Awesome 4.7.0 Free";*/

	font-family: "FontAwesome";
	font-size: 20px;
	content: "\f005";
	position: absolute;
	top: -5px;
	opacity: 0;
	color: #fed700;
	transition: 0.5s;
	overflow: hidden;

}

.comment__rating-label:hover::after,
.comment__rating-input:checked ~ .comment__rating-label::after {
	opacity: 1
}

.comment__rating {
	flex-basis: 40%
}
.comment__rating-list {
	display: flex;
	align-items: center;
	margin-left: 30%
}
.comment__root {
	padding-top: 20px;
	display: flex;;
}
.comment__textarea {
	width: 100%;
	border-radius: 23px;
	height: 40px;
	margin-top: -10px;
}
.commment__btns {
	display: flex;
	justify-content: flex-end;
	padding: 16px 0;
}
.commment__btn-submit {
	outline: none;
	display: inline-block;
	margin-bottom: 0;
	padding: 8px 20px;
	outline: 0px;
	border: 1px solid rgba(0,0,0,0);
	background: #ff8e2b;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	color: #fff;
}
.filter__comment {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.filter__name select {
	padding: 0px 5px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #ebebeb;
	color: #1c1c1c;
	font-size: 14px;
}
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*reset css*/
div,label{margin:0;padding:0;}
body{margin:0px;}
h1{font-size:1.5em;margin:10px;}
/****** Style Star Rating Widget *****/
#rating{border:none;float:left;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{margin:5px;font-size:1.25em;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating>.half:before{content:"\f089";position:absolute;}/*0.5 ngôi sao*/
#rating>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}


.baChamBinhLuan{
	display: none;
}
.text-binhLuan{
	padding: 5px;
    background: #f1f1f1;
    padding-right: 10px;
    border-radius: 20px;
}
.content-BinhLuan:hover .baChamBinhLuan{
	display: block;
	color: #ff5800;
}
.iconBaCham{
    color: #ff5800;
    width: 28px;
    height: 16px;
    text-align: center;
    margin-top: 10px;
}
.content-BinhLuan{
	display: flex;
	margin-bottom: 15px;
}
.nav-menu-bl::before{
 font-size: 20px;
  content: "\f0de";
  font-family: FontAwesome;
}
.nav-menu-bl{
 margin-top: -10px;
    margin-left: 8px;
    display: none;
    position: absolute;
}
.nav-menu-bl-show{
  display: block;
}
.menu-bl{
	margin-top: -17px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    z-index: 2000;
    width: 128px;
    padding: 0px;
    margin-left: -102px;
}
.page-item.active .page-link {
    background: #ff5800 !important;
    color: #fff !important;
}
.page-link {
   
    color: #ff5800 !important;
    border-color: #fff !important;

}
.menu-bl li{
	padding:5px;
	padding-left: 10px;
	list-style: none;
	padding-right: 10px;
	color: #000;
}
.menu-bl li:hover{
	color: #fff;
	background: #ff5800;
}